/*
Innovate UK
#8A1A9B	dark
#BE2BBB	light

UKRI
#307FE2	blue
#303030	grey

UKRI
#FF9E1B	orange
#F6BE00	yellow
#6CC24A	green
#00B388	emerald
#00C1D5	cyan
#307FE2	blue
#B14EB5	purple
#E04E39	red
*/

html {
	font-family: "Roboto", sans-serif;
	color: blue;
}

h2 {
	color: #8A1A9B;
	page-break-before: always;
}

h3 {
	color: #307FE2;
	page-break-before: always;
}

h4 {
	color: #8A1A9B;
}

h5 {
	color: #BE2BBB;
}

h6 {
	color: #303030;
}

.p {
	color: #6CC24A;
}

.n {
	color: #E04E39;
}
